/* Стили для страницы "Собрать ланч" */
.dishes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 25px 25px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor: pointer;
}

.dish:hover {
    border: 2px solid tomato;
}

.dish:hover .add-btn {
    background-color: tomato;
}

.dish img {
    width: 100%;
    border-radius: 35px;
}

.dish p {
    margin: 10px 0;
}

.dish .price {
    font-size: 28px;
}

.dish .name {
    font-size: 28px;
}

.dish .weight {
    color: gray;
}

.add-btn {
    background-color: #f1eee9;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Стили для формы заказа */
#order-form-section {
    padding: 40px;
    background-color: #f9f9f9;
}

.order-form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.order-block, .customer-block {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-block h3, .customer-block h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.order-block label, .customer-block label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.order-block select, .customer-block input, .customer-block textarea,
.customer-block select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#comment {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: vertical;
}

/* Стили для чекбоксов и радио-кнопок */
.customer-block input[type="checkbox"], .customer-block input[type="radio"] {
    width: auto ;
    margin-right: 10px;
}


.customer-block label.flex,
.customer-block fieldset label {
    display: block;
    align-items: center; 
}

.customer-block fieldset {
    border: none;
    padding: 0;
    margin: 20px 0; 
}

.customer-block legend {
    font-size: 16px;
    margin-bottom: 10px;
}

.customer-block button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.customer-block button[type="reset"] {
    background-color: #ff6f61;
    color: #fff;
    margin-right: 10px;
}

.customer-block button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
}

/* Адаптивность */
@media (max-width: 800px) {
    .dishes {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        justify-content: space-between;
    }

    header h1, section h2 {
        text-align: center;
    }

    .order-form {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .dishes {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 28px;
    }

    section h2 {
        text-align: center;
        font-size: 32px;
    }
}
